@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.container{
    position: absolute;
    border: solid;
    width:400px ;
    height: 700px;
    border-radius: 50px;
}
.time{
    position: absolute;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin-left: 75px;
    margin-top: 8px;
}
#user{
    margin-top: 60px;
    margin-left: 25px;
    width: 20%;
}
.p1{
    margin-left: 100px;
    margin-top: -45px;
    font-size: 15px;
}
.p2{
    font-size: 20px;
    margin-left: 100px;
    margin-top: -5px;
}
#hide{
    margin-left: 320px;
    margin-top: -40px;
}
.account{
    background-color: #017949;
    position: relative;
    border: white solid;
    width:367px ;
    height: 150px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 15px;
}
.account .p1{
    color: white;
    margin-left: 25px;
    margin-top: 25px;
}
.account .p2{
    color: white;
    margin-left: 220px;
    margin-top: -20px;
    font-size: 15px;
}
#copy{
    margin-left: 335px;
    margin-top: -20px;
    color: aliceblue;
}
.account .p3{
   color: white;
   margin-top: 10px;
   margin-left: 23px;
}
.account .p4{
    color: aliceblue;
    text-align: right;
    font-size: 20px;
    margin-right: 15px;
    margin-top: -23px;
}
.account .p5{
    color: white;
    border: rgba(52,149,108,255) solid;
    background-color:rgba(52,149,108,255);
    border-radius: 8px;
    width: 150px;
    height: 37px;
    margin-left: 18px;
    padding-left: 45px;
    padding-top: 5px;
}
.account .p6{
    color: white;
    border: rgba(52,149,108,255) solid;
    background-color:rgba(52,149,108,255);
    border-radius: 8px;
    width: 150px;
    height: 37px;
    margin-left: 200px;
    margin-top: -36px;
    padding-left: 7px;
    padding-top: -10px;
    font-size: 15px;
}

#pig{
    color: rgba(52,149,108,255);
    margin-top: 3px;
    margin-left: 15px;
    
}
.dans{
    border: solid rgb(248, 243, 243);
    border-radius: 8px;
    width: 70px ;
    height: 70px;
    margin-left:35px;
    margin-top:15px ;
}

.dans p{
    margin-left: 15px;
    margin-top: 4px;
}
.coin{
    border: solid rgb(248, 243, 243);
    border-radius: 8px;
    width: 70px ;
    height: 70px;
    margin-left:120px;
    margin-top:-68px ;
}
.coin p{
    margin-left: 15px;
    margin-top: 4px;
}
#coin1{
    color: rgba(52,149,108,255);
    margin-top: 3px;
    margin-left: 18px;
}
.card{
    border: solid rgb(248, 243, 243);
    border-radius: 8px;
    width: 70px ;
    height: 70px;
    margin-left:210px;
    margin-top:-68px ;
}
.card p{
    margin-left: 20px;
    margin-top: 4px;
}
#card1{
    color: rgba(52,149,108,255);
    margin-top: 3px;
    margin-left: 18px;
}
.tv{
    border: solid rgb(248, 243, 243);
    border-radius: 8px;
    width: 70px ;
    height: 70px;
    margin-left:295px;
    margin-top:-68px ;
}
.tv p{
    margin-left: 7px;
    margin-top: 4px;
}
#tv1{
    color: rgba(52,149,108,255);
    margin-top: 3px;
    margin-left: 13px;
}
.send{
    border: solid rgb(245, 239, 239);
    border-radius: 15px;    
    width: 400px;
    height: 65px;
    margin-left: -3px;
    margin-top: 5px;
    border-bottom: dashed 2px rgb(181, 176, 176);
    border-right: black;
    border-left: black;
}
.send p{
    padding-top: 15px;
    margin-left: 35px;
}

.dans2{
    color: rgb(13, 12, 12);
    border: rgba(245,245,245,255) solid;
    background-color: #e6e6e6;
    border-radius: 8px;
    width: 150px;
    height: 37px;
    margin-left: 230px;
    margin-top: -55px;
    padding-left: 15px;
    padding-top: 5px;
}
.next{
    border: rgba(245,245,245,255) solid;
    border-radius: 15px;
    width: 400px;
    height: 254px;
    border-bottom-style: 50px;
    margin-top: 20px;
    display: block;
}
.next p{
    color:rgba(16,110,70,255) ;
    margin-left: 32px;
}
.next .p1{
    color: rgba(177,118,68,255);
    margin-left: 345px;
    font-size: 17px;
}
.next .p2{
    color: black;
    margin-left: 115px;
    font-size: 15px;
    margin-top: -15px;
}
.next .p3{
    color: #027a49;
    margin-left: 348px;
    margin-top: -35px;
}
.next .p4{
    margin-left: 115px;
    margin-top: -30px;
    color: black;
}
#home{
    color:#267958 ;
    margin-top: -50px;
    position: absolute;
    margin-left: 60px;
}
.p6{
    position: absolute;
    color:#267958 ;
    margin-left: 55px;
    margin-top: -17px;
}
.circle{
    position: absolute;
    border: solid #267958 2px;
    border-radius: 50%;
    background-color: #267958;
    width: 65px;
    height: 62px;
    margin-left: 175px;
    margin-top: -78px;
}
#qr{
    color: aliceblue;
    margin-left: 16px;
    margin-top: 12px;
}
.circle .p1{
    color:#98999d;
    margin-left: 13px;
    margin-top: 20px;
    font-size: 13px;
}
.last{
    color:#98999d;
}
#right{
    position: absolute;
    margin-left: 320px;
    margin-top: -53px;
}
#left{
    position: absolute;
    margin-left: 310px;
    margin-top: -45px;
}
.last .p1{
    position: absolute;
    color:#98999d;
    margin-left:298px;
    margin-top:-20px ;
}